/*
 * jQuery Styles for YAML.de
 *
*/

@media screen
{
.jquery_tabs {overflow:hidden; margin-left:1em}

.jquery_tabs ul {
	overflow:hidden;
	margin:  0;
	padding: 0;
}

.jquery_tabs .content {
	margin:  0;
	padding: 4px 0;
	border-top: 2px #eee solid;
	border-bottom: 2px #eee solid;
}

.jquery_tabs .content * {margin:0}

.jquery_tabs ul li {
	float: left;
	margin: 0 0.3em 0 0;
	list-style-type: none;
}

.jquery_tabs ul li a { padding: .2em 2em; }

.jquery_tabs ul li a {
	display: block;
	width: auto;
	font-weight: bold;
	font-size: 1em;
	background: #bbb;
	color: #eee;
	margin: 0;
	border: 2px solid #ddd;
	border-bottom: 0px #eee solid;
}
.yamltabsanchor{
    position:absolute;
    left:-999em;
}
.jquery_tabs ul li a:focus,
.jquery_tabs ul li a:hover,
.jquery_tabs ul li a:active { background: #fff; font-weight: bold; color: #666; text-decoration: none; border-bottom: 0px #eee solid; }

.jquery_tabs ul li.current a,
.jquery_tabs ul li.current a:focus,
.jquery_tabs ul li.current a:hover,
.jquery_tabs ul li.current a:active {
	color: #666;
	text-decoration: none;
	font-weight: bold;
	background: #fff;
	border-color: #eee;
}
}
.js .jquery_tabs .current-info,
.js .jquery_tabs .accessibletabsanchor{
    position:absolute;
    left:-999em;
}